body{
    font-family: Arial, Helvetica, sans-serif
}

.main-container{
    background-color:lightpink;
    font-size: 20px;
    text-align: center;
    
}

.result-container{
    display: flex;
    justify-content: center;
}

.result{
    background-color: white;
    font-size: 20px;
    padding: 10px;

}

.correct-result{
    background-color:green;
    font-weight: bold;
    color:white;
}

.game-container{
    background-color: lightpink;
    border: none;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 10px;
    
}

.user-input{
    border:none;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.guess-btn{
    border:none;
    background-color: lightblue;
    padding: 6px;
    margin-left: 10px;
    cursor: pointer;
}


.summary-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.history-container{
    display: grid;
    width: 500px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    row-gap: 2px;
    
}

.cell{
    padding:0px;
    margin: 0px;
    background-color: white;
}




